body{
  font-family: 'Raleway', sans-serif;
}

body,html{height: 100%;width: 100%;}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.logo-container{background:#222228;padding:10px 0;text-align: center;margin-top:60px; position:relative;}
.logo-container a{ display:inline-block;}
.logo-container:before,.sign-in-block:before{ content:''; width:30px; height:30px; background:#222228; top:-8px; left:0; right:0; margin:0 auto; position:absolute; -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}
.wrapper{background: #333338;}
.layout-box{max-width: 1050px;width: 100%; padding-bottom: 60px;}
.main{background: #fff;padding:20px 0 0 0;}

#payment-bar h3{color:#e37221; font-size:16px; font-weight:bold; text-transform:uppercase; letter-spacing:1px;}
.main .form-control{height: 57px;font-family: 'Raleway', sans-serif;}
.main label{
    text-transform: uppercase;
    margin-top: 19px;
    font-size: 13px;
    color: #515050;
    letter-spacing: 1px;
}

.main label span{
    font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
}



.checkout-form-container{margin-top: 0px;}
.checkout-form,.login-form-width{max-width: 800px;margin:25px auto;}
.checkout-form:before,.checkout-form:after,.login-form-width:after{content: '';display: table;clear: both;}
.white{padding:20px 0 40px;border-bottom:1px solid #dbdbdb;}
.light-grey{background: #fbfbfb;padding:35px 0;}
input[type=radio].cs-option{
      position: absolute;
    visibility: hidden;
}
input[type=radio].cs-option:checked ~ .check {
    border: 5px solid #0DFF92;
}
.check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

input[type=radio]:checked ~ label {
    color: #0DFF92;
}


/* -- Redio Butn --*/

#redio-btn input[type=radio]{ position: absolute; visibility: hidden;}
#redio-btn label{display: block; position: relative; font-weight: 600; font-size: 0.9em; padding: 7px 25px 10px 50px;margin: 10px auto; height: 50px; z-index: 9; cursor: pointer; -webkit-transition: all 0.25s linear;}
#redio-btn:hover label{color: #646464;}
#redio-btn .check{ display: block; position: absolute; border: 1px solid #AAAAAA;background: #fff; border-radius: 100%; height: 30px; width: 30px; top: 15px; left: 15px;  z-index: 5;  transition: border .25s linear;  -webkit-transition: border .25s linear;}
#redio-btn:hover .check {  border: 1px solid #AAAAAA;}
#redio-btn .check::before {  display: block;  position: absolute;  content: '';  border-radius: 100%;  height: 20px;  width: 20px;  top: 4px;  left: 4px;  margin: auto;  transition: background 0.25s linear;  -webkit-transition: background 0.25s linear;}
input[type=radio]:checked ~ .check,input[type=checkbox]:checked ~ .check, input[type=checkbox].checked-btn{  border: 5px solid #0DFF92;}
input[type=radio]:checked ~ .check::before,input[type=checkbox]:checked ~ .check::before,input[type=checkbox].checked-btn ~ .check:before{  background: #49919a;}
input[type=radio]:checked ~ label,input[type=checkbox]:checked ~ label{  color: #4b4b4b;}
.best-v{ margin:0; padding:0; position:absolute; content:''; top:-2px; left:65px; font-size:12px; color:#e37221; font-weight:bold;}

.litle-dark-grey{background: #f2f2f2;padding:40px 0;}
#redio-btn2 input[type=radio],#redio-btn2 input[type=checkbox]{/* position: absolute; */visibility: hidden;/* margin: 0; */}
#redio-btn2 label{display: block;position: relative;font-weight: 600;font-size: 1.2em; text-transform:none; padding: 0px 0px 0px 50px;margin: 10px auto;height: 30px;z-index: 9;cursor: pointer;-webkit-transition: all 0.25s linear;}
#redio-btn2:hover label{color: #646464;}
#redio-btn2 .check{display: block;/* position: absolute; */border: 1px solid #AAAAAA;background: #fff;border-radius: 100%;height: 30px;width: 30px;/* top: 15px; *//* left: 15px; */z-index: 5;transition: border .25s linear;-webkit-transition: border .25s linear;}
#redio-btn2:hover .check {  border: 1px solid #AAAAAA;}
#redio-btn2 .check::before {  display: block;  position: absolute;  content: '';  border-radius: 100%;  height: 20px;  width: 20px;  top: 4px;  left: 4px;  margin: auto;  transition: background 0.25s linear;  -webkit-transition: background 0.25s linear;}
.pay-cards{ padding:10px ;}
.package{ margin:0; padding:15px 0;}
.margin{margin:5px 0;}

.qus-c{ margin:4px 0; padding:0px 9px; background:#fff; border-radius:50px; border:1px solid #333; position:absolute; width:30px; height:30px; font-size:22px; font-weight:bold;  top:10px; right:-40px; }

.slogn-line p{ margin:15px 0; padding:0 10px 0 0px; font-size:12px; font-weight:bold; text-transform:uppercase; letter-spacing:1px; color:#515050; line-height:22px;}



/* Switch --- */

.onoffswitch {  position: relative;  width: 176px;  -webkit-user-select:none;  -moz-user-select:none; -ms-user-select: none;}
.onoffswitch-checkbox {  display: none;}
.onoffswitch-label { display: block; overflow: hidden; cursor: pointer; border: 1px solid #CCCCCC; border-radius: 5px; margin-top: 0px !important; padding: 0;}
.onoffswitch-inner { display: block; margin-left: -100%;  transition: margin 0.3s ease-in 0s;}
.onoffswitch-inner:before, .onoffswitch-inner:after { display: block; float: left;  width: 50%; height: 58px; padding: 0; line-height: 58px; font-size: 14px; color: white;    font-weight: 600; background-clip: padding-box;}
.onoffswitch-inner:before {  content: "YES";  padding-left: 34px;  background-color: #FFFFFF; color: #4D4D4D;}
.onoffswitch-inner:after { content: "NO";  padding-right: 34px; background-color: #FFFFFF; color: #4D4D4D; text-align: right;}
.onoffswitch-switch { display: block; width: 76px; margin: 0px; background: #49919a;position: absolute; top: 0; bottom: 0; border-radius: 5px;right: 100px;transition: all 0.3s ease-in 0s;}

.onoffswitch-switch .btn-line{width:1px; height:20px; background:#CCC; margin:18px auto; position:relative;}
.onoffswitch-switch .btn-line:before{width:1px;height:20px;background:#CCC;margin:18px auto;position:absolute;left: -5px;content:'';top: -18px;}
.onoffswitch-switch .btn-line:after{width:1px;height:20px;background:#CCC;margin:18px auto;position:absolute;right:-5px;content:'';top: -18px;}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {  right: 0px; background-color: #49919a; border-radius: 5px;}

.qus-c2{ margin:6px 0; padding:0px 9px; background:#fff; border-radius:50px; border:1px solid #333; position:absolute; width:30px; height:30px; font-size:22px; font-weight:bold;  top:10px; left:200px; }


.trem-policy{margin:0; padding:0; text-transform:uppercase; color:#444; font-size:13px; font-weight:bold;}
.trem-policy a{margin:0; padding:0; color:#444; border-bottom:1px solid #444; text-decoration:none; }
.trem-policy a:hover{color:#48bcc4; border-bottom:none;}
.paynow{margin:0;}
.paynow a,.theme_btn{ margin:0; padding:18px 80px; background:#48bcc4; border-radius:4px; font-size:16px; letter-spacing:2px; text-transform:uppercase; color:#FFF; display:inline-block; text-decoration:none;}


/**** Login Form ****/

.sign-in-block{background:#222228;color: #fff;padding:18px 0;text-align: center;font-size: 16px;font-weight: bold;margin-top: 30px;text-transform: uppercase;position: relative;
    -webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.sign-in-block span{position: relative;}
.password-change-box p{color:#48bcc4;font-weight: 600;font-size: 13px;letter-spacing: 1px;}
.login-form .main label{font-weight: normal;}
.password-change-box {  padding: 25px 0;}
.sign-in-section{border-top:1px solid #ebebeb;padding: 40px 0 70px 0;}
.theme_btn:hover, .theme_btn:focus,.theme_btn:active,.sign-in-section a.theme_btn:hover{background-color: #eb5916;color:#fff;text-decoration: none;}
.sign-in-section a.theme_btn{font-weight: 600;background: #dfb229;padding: 18px 0px;text-align: center;}
.theme_btn{
    -webkit-transition: background 0.3s ease;
-moz-transition: background 0.3s ease;
-ms-transition: background 0.3s ease;
-o-transition: background 0.3s ease;
transition: background 0.3s ease;

}
.login-form-width .form-control,#your-mail{background:#f2f5f7;}
.sign-in-section input[type="submit"]{font-weight: 600;box-shadow: none;border: none; padding: 18px 0px;}
.sign-in-section .theme_btn{width: 100%;}
.login-form-wrap .main{padding: 14px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.empty-block{    padding: 25px 0;}
.launching{text-align: center;}
.launching .main{padding:50px 0 99px;}
.forgot_password .modal{display: block;}
.forgot_password{display: table;background: #333338;height: 100%;width: 100%;}
#forgot_pass .sign-in-section{margin-top: 45px;}
#upload-avatar {
    z-index: 1080 !important;
}
#forgot_pass{background: #333338;}
#upload-avatar {
    z-index: 1080 !important;
}
.box-shadow-cont{
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.pay-button{padding-bottom:30px;}
.password-change-box a{color:#48bcc4;}

/***  Login form end ***/




/***** My Account Bar ****/

.page-title{margin:0; padding:25px 0; color:#e37221; text-transform:uppercase; letter-spacing:2px; font-size:32px;font-family: 'Myriad Pro';}

.inner-page .logo-container{background:#222228;padding:10px 0px;text-align:left; margin-top:60px; position:relative;}
.inner-page .logo-container .logo-brand{padding:0px; margin:0 0 0 60px;}
.user-bar{ margin:10px 0 0 45px; padding:0;}
.user-p{ margin:0 15px 0 0; padding:0; float:left; overflow:hidden; background:#000; width:60px; height: 60px;}
.user-p img{ margin:14px 8px 0;}

.user-name{ margin:0; padding:0; float:left;}
.user-name span{ margin:8px 0 0; padding:0; font-size:12px; color:#FFF; display:inline-block;}
.user-name h3{ margin:0; padding:5px 0; font-size:18px; color:#FFF;}

.tab-section{ margin:0; padding:0 15px; border-top:1px solid #f2f2f2;}
#account-tab{}
#account-tab ul.well {
    min-height: 20px;
    padding: 50px 0px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 0; 
    border-radius: 0px; 
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
}
.nav-tabs-dropdown {
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-tabs-dropdown:before {
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 30px;
}

#account-tab .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #666;
    background-color: #ffffff;
    border:0;
    border-left:2px solid #e37221;
    border-radius:0;
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:13px;
    font-weight:bold;
    margin-right:0;
    padding:14px 0 14px 30px;
}

#account-tab .nav-pills>li>a {
    color: #666;
    border-radius: 0px;
    text-transform: uppercase;
    padding:14px 0 14px 30px;
    letter-spacing:1px;
    font-size:13px;
    font-weight:bold;
}
.account-table .tab-content{padding: 30px 0px 55px 15px;}
.account-table .tab-content h3{ font-weight:bold; font-size:22px; padding:0 0 25px;letter-spacing: 1px;font-family: 'Myriad Pro';}

/*** My Desktop Bar ***/
.desktop-box{padding:0; border:1px solid #ccc; margin-bottom: 18px;}
.desktop-box h4{ margin:0; padding:15px; background: #f5f5f5; font-weight: bold; color: #333;font-family: 'Myriad Pro';}
.status{ padding: 0px 12px 15px; }
.status p{ font-size:13px; font-weight:bold; color:#585757; letter-spacing:1px;}
.status span{ font-style:italic; font-size:13px;}
.launch-btn{ margin:13px 0 0; padding:12px; border-radius:3px; background:#67bb65; display:block; text-align:center; color:#FFF; letter-spacing:1px; font-size:20px;text-transform: capitalize;font-weight: 500;}
.terminate-btn{ background:url(../images/cross.png) no-repeat 20px center #d9544f; margin:15px 0px 0; padding: 11px 0 11px 28px; border-radius:3px; display:block; text-align:center; color:#FFF; letter-spacing:1px; font-size:20px;text-transform: capitalize;font-weight: 500;}
.reboot-btn{text-transform: capitalize;}
.reboot-btn{background:url(../images/reboot.png) no-repeat 21px center #ec8316;  margin:15px -15px 0 0px; padding: 12px 12px 12px 34px;border-radius:3px; display:block; text-align:center; color:#FFF; letter-spacing:2px; font-size:20px;font-weight: 500;}
.status a:hover{ text-decoration:none;}
#signup_form{background: #333338;}
.terminate-fix .terminate-btn{width: 183px; }
.status-text{margin-top:5px;}
.qus_mark.green .fa-question{background:#679206;color:#fff;border:1px solid #679206;padding-left: 4px;padding-right: 4px;}
.qus_mark.green{vertical-align: super;margin-right: 14px;}
.reload-img:hover img{opacity:0.7; }
.reload-img{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.loader-icon{display: none;}
.big-qus-sign .qus_mark .fa-question{font-size: 15px;padding: 5px 5px;}
.status-text{color:#515050;}
.status-text>span{color:#38b535;font-weight: 600;letter-spacing: 0.5px;}

/*** Desktop Setting ***/
.setting-box{min-height: initial;}
.desktop-loc{    padding: 15px 15px 8px;}
.btn-default{
    padding: 6px 30px;
    border: none;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 23px;
}
.btn-default.orange{background: #dc4c18;letter-spacing: 0px;padding: 2px 16px;}
.btn-default.orange:hover{opacity: 0.8;}
.popup2 .empty-block:before{content: none;}
.pop2m h5{margin: 38px 0 20px;}
input[type="submit"].btn-default{background: #67bb65;}
input[type="submit"].btn-default:hover,input[type="submit"].btn-default:active{background:#eb5916;outline: none;}
.desk-loc{font-weight: bold;letter-spacing: 0.5px;padding-top: 4px;margin-bottom: 15px;}
.country-sel{padding-left:15px;margin-bottom: 15px;}
.flag { padding-right: 5px;}
.grey-text{color:#515050;}
.selected-country{font-weight: 500;color:#939292;}
.select-box-count{
    background: #f2f5f7;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    padding: 5px 8px;
    width: 138px;
    margin: 0 7px;
}
.select-box-count:focus{outline: none;}

.open-settings{color:#383535;}
.open-settings:hover,.open-settings:active{text-decoration: none;color:#383535;opacity: 0.7;}
.setting-box td:first-child{font-weight: bold;padding-left:14px;}
.setting-box tr:first-child td:nth-child(2){font-style: italic;color:#38b535;font-weight: 700;}
.setting-box .table>tbody>tr>td{width: 30%;padding-top:15px;padding-bottom: 15px;}
.setting-box .open-settings .fa-cog{margin-right: 4px;}

.setting-box td:nth-child(2){text-align: center;}
.setting-box td:last-child{text-align: right;padding-right:14px;}
.setting-box .table{margin-bottom:0px;}
.setting-box .qus_mark{vertical-align: 5px;}
.setting-box .btn-default{letter-spacing: 1px;padding: 6px 20px;background: #4ab247;}
.setting-box .btn-default:hover,.setting-box .btn-default:active,.setting-box .btn-default:focus{background: #eb5916;color: #fff;}
.setting-box .table{color: #515050;}

/* Manage Subscription */
.m-p{padding:0px 0 15px;}
.manage-bar{padding: 0px; font-weight:600;color: #545454;}
.manage-bar .table>thead>tr>th{border-bottom:0;padding: 0px 15px 14px 0px;font-size:13px;}
.manage-bar .table>tbody>tr>td{padding:20px 15px 20px 0px; font-size:13px; }
.manage-bar .table{margin:0;}
.manage-bar .table-hover>tbody>tr:hover{background:transparent}
.serv-name{font-size:13px;font-weight:bold;color:#515050;letter-spacing:1px;text-align:right;}
.manage-table{/* padding:0 15px; */}

.update{padding: 5px 8px 5px 30px;margin-left: 23px; border-radius:3px; color:#fff; background: url(../images/update-icon.png) no-repeat 7px center #1ca579; text-decoration:none;text-transform: initial;font-size: 13px;}
.update:hover{text-decoration:none;}

.qus_mark .fa-question, .qus_mark .fa-exclamation{
    background: #959899;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 10px;
    vertical-align: text-bottom;
    border: 1px solid #959899;
    color: #fff;
    line-height: 9px;
    
}
.instance .qus_mark {
      margin-top: 14px;
    display: inline-block;
    margin-left: 10px;
}
.reboot-fix{ width: 169px;}
.reboot-fix .reboot-btn {    margin-right: -2px;}
.qus_mark .fa-question:hover {
    background: #72727d;
    color: #fff;
}
.manage_sub{display:none;}
.subscription-box{font-family: 'Myriad Pro';font-size:13px;background:#f2f2f2;border:1px solid #c7c7c7;padding: 0 8px;margin-bottom: 9px;}
.subscription-box .btn-default{
    font-size: 12px;
    font-weight: normal;
    padding: 4px 2px;
    letter-spacing: 0px;
    width: 100%;
    margin-bottom: 3px;
    line-height: 14px;
    max-width: 130px;
}
.top-heading .qus_mark{position: relative; top: -7px;}
.subscription-box .upgrade-btn{background: #fff;color:#4f4f4f;border:1px solid #c9c9c9;}
.subscription-box .cancel-btn{background:#9c9c9c;border:1px solid #9c9c9c;max-width: 130px;}

.upgrade-btn:hover,.upgrade-btn:active,.upgrade-btn:focus,.cancel-btn:hover,.cancel-btn:active,.btn-default.green:active,.btn-default.green:focus,.btn-default.green:hover{background: #eb5916;border:1px solid #eb5916;color:#fff;}
.cancel-btn:focus{outline: none;}
.subscription-box .table{padding:0 14px;margin-bottom: 0px;}
.subscription-box .sub-cost{padding-top:15px;}
.subscription-box .top-heading{
    font-size:18px;
    color: #343434;
    background: url(../images/buner-sub-icon.png) no-repeat;
    padding: 6px 0 6px 50px;
    margin-left: 10px;
    font-weight: 600;
}
.subscription-box .table>tbody>tr>td {
    border-top:none;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
}
.subscription-box .table>tbody>tr>td:first-child {
    width: 80px;
}
.subscription-box .table>tbody>tr>td:nth-child(2) {
    width: 69px;
}
.subscription-box .table>tbody>tr>td:last-child {
    text-align: right;
}
.subscription-box  .subs-active,.subscription-box  .subs-inactive{
    background: #fff;
    display: inline-block;
    padding: 0px 10px;
    color: #38b535;
    font-style: italic;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.subscription-box .subs-inactive{color:#d9534f;}
.btn-default.green{background: #4ab247;border:1px solid #4ab247;}
.subscription-box .service-btn{padding-right: 10px !important;}
.subscription-box .service-btn .btn-default{width: auto;padding: 4px 4px;}
.subscription-box .top-bar-heading{margin-top: 10px;}
#myaccount-bar .tab-section{padding-right: 0px;}
.sub-cost b{margin-left:8px;}

.nord-vpn .top-heading{background: url('../images/nordvpn.png') no-repeat;padding: 6px 0 6px 118px !important;background-position: 0px 3px;}
.popup2 .modal-dialog{max-width: 767px;width: 100%;}
.popup2{text-align: center;}
.popup2 .pop2m{padding: 40px 90px 20px;font-family: 'Myriad Pro';}

.pop2m p{margin-bottom: 15px;}

/***** Cancel Subscription *****/
.cancel-subs-cont .orange{padding: 12px 27px;font-size: 13px;text-transform: uppercase;}
.cancel-subs-cont .pop2m{padding: 40px 145px 60px;}
.cancel-subs-cont .h2{color:#636363;margin-bottom: 50px;}
.cancel-subs-cont .cancel_btn{background: #5f5d5e;padding: 15px 31px;font-size: 13px;}
.cancel_btn:hover,.cancel_btn:active{background: #dc4c18;}
.or_text{font-weight: bold;margin:20px 0;}

/* BUTTON 1 */

.instance{max-width: 485px;margin:0 auto;width: 100%;}
.one .button-wrap {
  width: 100px;
  margin: 0;
  cursor: pointer;
}
.one .button-bg {
  width: 100%;
  height: 100%;
  background-color: #f25a5a;
  border-radius: 3px;
  padding: 0;
  color: #f5f5f5;
  transition:all 0.2s ease;
}
.one .button-switch {
  position:relative;
  left:0px;
  width: 50px;
  height: 32px;
  border: solid 16px;
  border-radius: 3px;
  transition:all 0.2s ease;
  z-index: 1;
}
.one .button-active .button-switch { left:50px; }
.one .button-in, 
.one .button-out {
  position:absolute;
  transition:all 0.2s ease;
  padding-top: 10px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.one .button-in {margin-left: 65px;}
.one .button-out {margin-left: 17px;color: #67bb65;z-index: 9;}
.one .button-active .button-out { color:#fff; }
.one .button-active .button-in {color: #67bb65;z-index: 9;}
.one .button-active .button-bg {background-color: #d9534f;}


/* Edit profile ----*/
.profile-form label {
    text-transform: none;
    margin-top: 19px;
    font-size: 13px;
    color: #515050;
    letter-spacing: 1px;
    float: right;
    
}
.check-box {
    clear: both;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    float: left;
    width: 96%;
}

.check-box p{margin:0; padding:4px 0 0 50px; text-transform:uppercase; letter-spacing:2px; font-size:13px; font-weight:bold; color:#898989;}

.check-box span{color:#79cad1}

.regular-checkbox {
    display: none;
}
.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 11px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    margin:0;
    float:left;
}
.profile-form .form-control{background-color:#f2f5f7;    letter-spacing: 1px;}
.strength-bar{ margin:0; padding:18px 0 0;}
.password{ margin:30px 0 10px;}
.password-strength{ margin:-15px 0 0;}
.password label p{ padding:0; font-size:10px;  }
.password .tagline{ padding:0; font-size:11px; font-weight:300; letter-spacing:0.3px; font-style: italic;    margin-bottom: 6px; display: block;}
.manage-bar .m-p{padding-bottom: 30px;}    
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 17px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}
.email-label{float:none !important;padding-left: 10px;}
.pad20{padding-bottom:40px;}
.save-btn{ margin:0; padding:15px 65px; border-radius:3px; background:#727171; text-align:center; display:inline-block; text-transform:uppercase; color:#FFF; letter-spacing:1px; font-weight:bold;}
.save-btn:hover{ color:#FFF; background-color:#333; text-decoration:none;}

.instance:after {
    content: '';
    display: table;
    clear: both;
}
.stripe-update{margin:20px 0 50px;}
/**** My Account End ****/

.launching .counting{
    background: #ffffff;
    color: #7e8080;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding-top: 10px;
    font-size: 21px;
    font-weight: 500;
    display: inline-block;
    border:1px solid #7e8080;
}
/*.counting-block li.active:after{

    background-position: 0px 0px;
}*/
/*.counting-block li:after{
   content: '';
    display: block;
    position: absolute;
    background: url(../images/launching_arrow.png) no-repeat;
    height: 16px;
    width: 32px;
    right: -15px;
    top: 25px; 

    background-position: 0px -22px;
}*/
.counting-block li:last-child:after{content:none;}
.counting-block .points{color:#7e8080;margin-top:15px;font-weight: 500;}
.counting-block li.active .counting{ background: #eb5916; color: #fff; border:1px solid #eb5916;}
.counting-block li.active .points{color:#eb5916;}
.counting-block{text-align: center;margin: 40px auto 0;max-width: 800px;}
.counting-block li{position: relative;width: 24%;cursor: pointer;vertical-align: text-top;    z-index: 99;}

/*** Model box ***/
.processing-box .main h3{font-weight:normal;}

.counting-block li:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background: #767676;
    width: 100%;
    top: 27px;
    /* max-width: 545px; */
    margin: 0 auto;
    right: 0;
    left: 71px;
    z-index: -1;
}
.counting-block li.active:before{background:#eb5916;}
.counting-block li:last-child:before{content: none;}
@media (min-width:992px) {
  .subscription-box .sub-cost{padding-left: 30px;}
}
@media (min-width:768px) {
.login-form .modal-dialog{max-width: 1050px;width: 100%;}
.login-form.processing-box .modal-dialog{max-width:717px;}
  #nav-tabs-wrapper {display: block!important;}
  .account-table{display:table; width: 100%;}
  .left-side{ display:table-cell; float:none; background-color: #f5f5f5; padding: 0;}
  .right-side{ display:table-cell; float:none;vertical-align: top;}  
  .account-table .tab-content{padding-bottom: 105px;} 
  .counting-block{margin: 80px auto 45px;}
}
@media (max-width:1040px){
  .re-launch{text-align: center;float:none !important;display: block;}
}
@media (max-width:991px) {
    .subscription-box .table>tbody>tr>td{vertical-align: top;}
    .country-sel,.desk-loc{float:none !important;padding-left: 0;}
    .sign-in-section .theme_btn{margin-top:10px;max-width: 300px;margin:10px auto 0;}
    .sign-in-section{text-align: center; padding: 17px 0 40px 0;}
    .sign-in-section br{display: none;}
    .login-form-width{margin:0;}
    .trem-policy{ text-align:center; margin-bottom:15px;}
}
@media (max-width:767px)     
{
    .cancel-subs-cont .pop2m{padding: 40px 20px 40px;}
  .table-responsive{border:none;}
  /*.counting-block li:nth-child(2):before {  
    top: 27px;   
    left: -51%;
    transform: rotate(141deg);
    top: 97px;
    }*/
    .counting-block li:nth-child(2):before {content:none;}
    .counting-block li:before{left: 50%;}

  .processing-box .main h3 {font-size: 18px;}
  .processing-box .main{padding-left:12px;padding-right:12px;}
    .processing-box .modal{padding-left: 0 !important;}
    .email-label{padding-left: 0px;}
    .update{margin-left: 0px;}
    .add-ons .table-responsive{margin-bottom: 0;}
    #account-tab ul.well{padding: 20px 0px 20px;}
    .add-ons.setting-box td:first-child{padding-left:8px;font-size: 10px;} 
    .add-ons tr:first-child td:nth-child(2){font-size: 10px;}
    .add-ons.setting-box td:last-child{padding-right: 8px;}
    .add-ons .btn-default{font-size: 10px; padding: 1px 4px;font-weight: normal;}
    .tab-section{padding: 0;}
    .account-table .tab-content{padding:0 14px;}
    .instance{padding: 0 15px 10px;width: initial;}
    .counting-block li{width: 49%;margin-bottom: 30px;}
    .launching .main{padding: 50px 0 50px;}
    .counting-block li:nth-child(2):after{content: none;}
    #account-tab .nav-pills>li>a,#account-tab .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{padding-left:0;}
    .nav-tabs-dropdown { display: block;}
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }
   .nav-tabs-horizontal {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
   }
    .nav-tabs-horizontal  > li {
        float: none;
    }
    .nav-tabs-horizontal  > li + li {
        margin-left: 2px;
    }
    .nav-tabs-horizontal > li,
    .nav-tabs-horizontal > li > a {
        background: transparent;
        width: 100%;
    } 
    .nav-tabs-horizontal  > li > a {
        border-radius: 4px;
    }
    .nav-tabs-horizontal  > li.active > a,
    .nav-tabs-horizontal  > li.active > a:hover,
    .nav-tabs-horizontal  > li.active > a:focus {
        color: #ffffff;
        background-color: #428bca;
    }

    .inner-page .logo-container .logo-brand {
    margin:0;
    width: 100%;
    text-align: center;
    }
    .user-bar {margin: 20px auto 0;  width: 197px;}
    #nav-tabs-wrapper {display: block!important;}      
    .serv-name {text-align: left;margin-bottom: 14px;}
    .profile-form label {float: left;}
    .password .tagline{top:-75px;}
    
}
@media (max-width:600px)     
{
  .big-qus-sign .pull-left,.big-qus-sign .pull-right{float:none !important;position: relative;}
    .big-qus-sign .pull-left .pull-left + .pull-left{position: absolute;left: 182px;top: -12px;}
    .big-qus-sign .pull-right .pull-right:first-child{position: absolute;left: 180px; top: -13px;}
}
@media (max-width:480px)     
{
  .subscription-box .top-heading{font-size: 16px;padding-left:40px}
  .selected-country{display: block;margin-bottom: 10px;}
  .select-box-count{margin:0;}
  .open-settings{margin-left:10px;font-size: 12px;}
}
@media (max-width:420px)     
{
  .update{margin-top: 15px;margin-left: 0;}
}


